h3 {
    text-align: center;
    color: firebrick;
}
ol {
    color: darkorchid;
}
p {
    color: indigo;
    text-align: center;
}
h1 {
    color: blue;
    text-align: center;
}
h2 {
    color: darkslateblue;
}
